.maintenance {
  width: 90%;
  height: 100%;
  margin: 30px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintenance-title {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 400;
  color: var(--grey);
}
