* {
  /* colors */
  --red: #E25252;
  --dark-red: #A23B3B;
  --light-red: #FF5D5D;

  --grey: rgb(150, 150, 150);
  --dark-grey: rgb(50, 50, 50);
  --light-grey: rgb(230, 230, 230);

  --dark-white: rgb(248, 248, 250);

  --blue: #3293E2;
  --blue-rgba: rgb(50, 147, 226);
  --light-blue: rgb(77,177,226);

  /* theme colors */
  --prim-theme-color: var(--blue);
  --sec-theme-color: var(--light-blue);

  --prim-bg-color: white;
  --sec-bg-color: var(--dark-white);

/* font */
  --font-standard: 'Open Sans', sans-serif;
  --font-oldfassion: 'IM Fell Great Primer SC', 'Open Sans', serif;

/* font-size */
  --fz-h1: 8vw;
  --fz-h2: 6vw;
  --fz-h3: 6vw;
  --fz-h4: 4vw;
  --fz-p: 4vw;
  --fz-p-small: 3vw;
  --fz-caption: .5vw;

  /* icon-size */
    --ic-xxl: 5vw;
    --ic-xl: 3vw;
    --ic-l: 2vw;
    --ic-m: 2vw;
    --ic-s: .75vw;
    --ic-xs: .5vw;

  /* app-content */
    --a-c-width: 90vw;

  /* logo home */
    --logo: 50vw;
    --logo-margin: 10vw;
    --logo-cafe: 8vw;
    --l-c-top: 17vw;
    --l-c-left: 12vw;
    --logo-vonluck: 8vw;
    --l-vl-top: 22vw;
    --l-vl-left: 8vw;

  /* nav-menue top or bottom */
    --menue-top: none;
    --menue-bottom: flex;

  /* menue */
    --menue-product-height: auto;
    --menue-product-width: 100%;
}

@media (min-width: 401px) {
  * {
    /* font-size */
      --fz-h1: 48px;
      --fz-h2: 40px;
      --fz-h3: 30px;
      --fz-h4: 16px;
      --fz-p: 16px;
      --fz-p-small: 12px;


    /* logo home */
      --logo: 200px;
      --logo-margin: 40px;
      --logo-cafe: 36px;
      --l-c-top: 65px;
      --l-c-left: 40px;
      --logo-vonluck: 36px;
      --l-vl-top: 90px;
      --l-vl-left: 23px;

    /* menue */
      --menue-product-height: auto;
      --menue-product-width: 30%;
  }
}

@media (min-width: 500px) {
  * {
    --menue-top: flex;
    --menue-bottom: none;
  }
}
/*
@media (min-width: 401px) and (orientation: landscape) {
  * {
    /* font-size */ /*
      --fz-h1: 3vw;
      --fz-h2: 3vw;
      --fz-h3: 2vw;
      --fz-p: 1.8vw;

    /* app-content */ /*
      --a-c-width: 92vw;
      --a-c-padding: 4vw;
      --a-c-padding-bottom: 10vw;

    /* logo home */ /*
      --logo-margin: 5vw;
      --logo: 230px;
      --logo-cafe: 4.5vw;
      --l-c-top: 10vw;
      --l-c-left: 8vw;
      --logo-vonluck: 4.5vw;
      --l-vl-top: 13vw;
      --l-vl-left: 5vw;
  }
}
*/
